{{#if error}}
    <h1>{{error}}</h1>
{{/if}}
<form action="/users/login" method="POST">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="pword" placeholder="Password">
    <input type="submit" value="Log in">
</form>
